* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	/* background-color: #ffd369; */
	/* background-color: #d0e8f2; */
}

#main {
	--static-gradient-direction: to-top;   
	--static-gradient-color: #a7c5eb;
	--static-gradient-size: 8;
	/* background: paint(static-gradient), #949cdf; */
	--bytemare-tile-size: 20;
	--bytemare-gap: 1;
	/* --bytemare-color: #949cdf; */
	--bytemare-probability: 0.3;
	background: paint(bytemare);
}
#skills {
	margin: auto;
	width: 50vw;
}
#skills img {
	margin: 0 0 0 -3px;
}
#braces {
	height: 5rem;
}
#bracesleft {
	transform: rotate(180deg);
	height: 5rem;
	margin-left: -35px;
}
.langIcon {
	width: 10%;
}

@media screen and (min-width: 992px) {
#projectSection {
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 80%;
	padding: 0;
}
}
h1, h2 {
	background-color: rgba(00, 00, 00, .08);
	border-radius: 9px;
}
.infocontainer {
	position: relative;
	margin: 20% auto 0;
	padding: 0;
	width: max-content;
}
#computer {
	width: 40vw;
}
.top-left {
	position: absolute;
	top: 6px;
	left: 4px;
}
#projInfo {
	width: 39.4vw;
	height: 17vw;
	color: #39ff14;
	background-color: black;
	margin: 0;
	padding: 5px;
	line-height: 1.4rem;
}
#projects {
	display: grid;
	grid-template-columns: repeat(minmax(300px, 1fr));
	width: clamp(380px, 30vw, 50vw);
	border: 4px solid#15191f;
	border-radius: 9px 9px 0 0;
	height: min-content;
	margin: 15% auto 0;
	padding: 10px;
	background-color: #222831;
	text-align: center;
	z-index: 1;
}
.project-tile {
	height: 90px;
	border: 2px solid #52575d;
	border-radius: 15px 15px 35px 35px;
	margin: 2px 0;
	position: relative;
	background-color: #393e46;
}

.project-link {
	display: block;
	width: 90%;
	height: 90%;
	margin: 3.8% 0 0 3%;
	background: url(method-draw-image.svg) no-repeat;
	background-size: contain;
}
#profile-link {
	text-decoration: none;
	color: #52575d;
	margin-top: 2px;
	text-align: right;
}